<div class="login">
  <div class="login__content">
     <img id="background" src="assets/img/background.png" />

    <div class="login__box-form">
      <div class="login__box-form-container">
        <div class="form-label login__box-form-container__logo">
          <img id="logo" src="assets/img/logo.png" />
        </div>

        <div class="form-label login__box-form-container__text-label">
          Login
          <input type="text" class="form-control"/>
        </div>
        <div class="form-label login__box-form-container__text-label">
          Password
          <input type="password" class="form-control"/>
        </div>
        <div class="login__box-form-container__login-button">
          <button class="btn btn-danger
           ">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
